.about {
    background-color: #e8f3fa;
    text-align: center;

    &__inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-top: 65px;
    }

    &__title {
        font-size: 16px;
        font-weight: normal;
        color: $title-color;
        text-transform: uppercase;
        padding-bottom: 30px;
    }

    &__col {
        padding: 0 40px;
    }

    &__content {
        color: $text-color;
        font-size: 12px;

        span {
            font-weight: bold;
        }

        &--more {
            display: none;
        }
    }

    &__link {
        font-weight: bold;
        font-size: 16px;
        padding: 20px;
        display: inline-block;
        color: #3697d1;
        text-decoration: underline;
    }
}

.read-more {
    text-decoration: underline;
    font-size: 10px;
    cursor: pointer;
    color: #3697d1;
    display: inline-block;
}