footer {
    padding: 23px 0;
    font-size: 12px;
    text-align: center;
    color: $text-color;

    p {
        font-size: 12px;
        color: $text-color;

        a {
            @extend %link;
        }

    }

    ul {
        display: flex;
        padding: 0 2rem;
        justify-content: space-between;
        padding: 1rem 0;

        li {
            display: inline-block;
            width: 100%;
            padding: 5px 0;
            position: relative;

            a {
                @extend %link;
                font-size: 10px;
            }

            &:not(:first-child)::before {
                content: "";
                position: absolute;
                left: 0px;
                top: 0px;
                background-color: #a7b1cb;
                width: 1px;
                height: 100%;
            }
        }
    }

}

.footer__bottom {
    padding-top: 15px;
    width: 55%;
    margin: 0 auto;

    p {
        font-size: 10px;
    }
}


@media only screen and (max-width: 992px) {
    footer ul li {
        padding: 10px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
    footer {
        ul {
            flex-wrap: wrap;

            li {
                width: 50%;

                &:not(:first-child)::before {
                    width: 0px;
                }
            }

        }
    }

    .footer__bottom {
        width: 100%;
        padding-top: 0;
    }
}