///add fonts

@font-face {
    font-family: "SegoeUIRegular";
    src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot");
    src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix")format("embedded-opentype"),
        url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"),
        url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "SegoeUIBold";
    src: url("../fonts/SegoeUIBold/SegoeUIBold.eot");
    src: url("../fonts/SegoeUIBold/SegoeUIBold.eot?#iefix")format("embedded-opentype"),
        url("../fonts/SegoeUIBold/SegoeUIBold.woff") format("woff"),
        url("../fonts/SegoeUIBold/SegoeUIBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "SegoeUIItalic";
    src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot");
    src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot?#iefix")format("embedded-opentype"),
        url("../fonts/SegoeUIItalic/SegoeUIItalic.woff") format("woff"),
        url("../fonts/SegoeUIItalic/SegoeUIItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "SegoeUILight";
    src: url("../fonts/SegoeUILight/SegoeUILight.eot");
    src: url("../fonts/SegoeUILight/SegoeUILight.eot?#iefix")format("embedded-opentype"),
        url("../fonts/SegoeUILight/SegoeUILight.woff") format("woff"),
        url("../fonts/SegoeUILight/SegoeUILight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/// variables

$bg-color:#0072bc;
$title-color: #1c8ece;
$text-color: #223b7e;
$logo-color:#1b5eaa;


.container {
    max-width: 1140px;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}


body {
    color: $text-color;
    font-family: "SegoeUIRegular", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;
}

header {
    background-color: $text-color;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 0;
    color: white;
}

h1 {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
}

.nav {
    display: flex;
    justify-content: space-between;

    &__list {
        font-size: 12px;
        list-style: none;
        padding-right: 40px;

        a {
            position: relative;
            transition: all 0.6s;

            &:before {
                content: "";
                width: 0;
                height: 1px;
                position: absolute;
                bottom: 0;
                left: 0;
                background: white;
                transition: all 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                    left: 0;
                }
            }
        }

        &:first-of-type,
        &:last-of-type {
            padding-right: 0;
        }

        a {
            color: white;
            position: relative;
            padding: 5px;
        }
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55%;

    &__btn {
        background-color: $text-color;
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        padding: 12px 28px;
        border-radius: 20px;
        border: solid 1px $title-color;
        transition: all .3s;
        margin: 0 6%;
        white-space: nowrap;

        &:hover {
            background-color: white;
            color: $text-color;
        }
    }

}

.lang {
    background: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-position: 96% 45%;
    background-color: $text-color;
    overflow: hidden;
    width: 40px;

    &__select {
        background-color: transparent;
        height: 100%;
        color: white;
        border: none;
        width: 140%;
        font-size: 12px;

        option {
            background-color: $text-color;
        }
    }
}

.burger-open {
    flex-direction: column;
    justify-content: space-between;
    align-self: stretch;
    background: none;
    border: none;
    outline-color: white;
    position: fixed;
    height: 45px;
    right: 10%;
    top: 20px;
    padding: 10px;
    border-radius: 2px;
    background-color: $text-color;
    z-index: 2;
    display: none;
    transition: .3s;
    opacity: .95;

    span {
        width: 35px;
        height: 3px;
        background-color: white;
        display: block;
        border-radius: 5px;

    }
}

.burger-close {
    color: white;
    transition: all .3s;
    text-decoration: none;
    font-weight: 400;
    font-size: 3em;
    background: none;
    border: none;
    outline-style: none;
    width: 100%;
    display: none;
}


.logo {
    transition: all .2s;

    &:hover {
        animation: rubberBand 1s 1;
    }
}

@-webkit-keyframes rubberBand {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes rubberBand {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}


@media only screen and (max-width:1140px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media only screen and (max-width: 992px) {

    .header {
        justify-content: flex-start;
        flex-wrap: wrap;

        h1 {
            padding-left: 20px;
        }
    }

    .menu {
        flex-direction: column;
        text-align: center;
        display: none;
        width: 100%;

        .menu__btn {
            margin: 20px;
        }
    }

    .nav {
        flex-direction: column;
        text-align: center;

        .nav__list {
            padding: 0;
            margin: 20px;
        }
    }

    .burger--visibility {
        display: flex;
    }

    .burger-close {
        display: block;
        padding: 0;

        &:hover {
            transform: rotate(90deg) scale(1.2);
            transform-origin: 50% 60%;
        }
    }
}


@media only screen and (max-width: 576px) {
    h1 {
        font-size: 24px;
        padding-top: 20px;
    }

}

@media screen and (min-width:320px) and (max-width:479px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }
}