.hero {
    background-color: #0072bc;
    height: calc(100vh - 98px);
    position: relative;
    color: white;
    overflow: hidden;

    &:before {
        content: '';
        height: 1px;
        width: 100%;
        background: #338ec9;
        position: absolute;
        left: 0;
        top: 50%;

    }

    &__text {
        position: absolute;
        top: 40px;
        width: 61%;
        font-size: 14px;
        padding-left: 10%;
    }

    &__stages {
        display: flex;
        justify-content: space-around;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        transform: translateY(-6px);
    }

    &__stage {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        cursor: pointer;

        &:hover .circle {
            animation: pulse .5s ease-in infinite;
        }

        h3 {
            text-transform: uppercase;
            font-size: 16px;
            font-weight: normal;
            padding-top: 20px;
        }

        &-card {
            position: absolute;
            border-radius: 15px;
            box-shadow: 0px 1px 3.8px 1.3px $text-color;
            background-color: $logo-color;
            transform: translateY(-50%);
            padding: 15px 26px;
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: all .2s;
            visibility: hidden;
            top: 0;
            z-index: 1;


            h4 {
                font-size: 16px;
                text-transform: uppercase;
                padding: 8px 0 14px 0;
                font-weight: normal;
            }

            p {
                font-size: 12px;
                width: 110%;
            }

            img {
                padding: 22px 0;
            }
        }
    }


}

.circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: white;
    transition: all .2s;
}

@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.3, 1.3, 1.3);
        transform: scale3d(1.3, 1.3, 1.3);
        ;
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.3, 1.3, 1.3);
        transform: scale3d(1.3, 1.3, 1.3);

    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.scroll {
    font-size: 10px;
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;

    &__btn {
        display: inline-block;
        border: 1px solid white;
        padding: 15px 10px;
        border-radius: 13.5px;
        margin: 0 10px;

        span {
            display: block;
            height: 1px;
            width: 8px;
            margin-top: 2px;
            transition: all .4s;

            &:nth-of-type(2n+1) {
                background-color: white;
            }

            &:nth-of-type(2n) {
                background-color: $title-color;
            }
        }

        &:hover span:nth-of-type(2n+1) {
            background-color: $title-color;
        }

        &:hover span:nth-of-type(2n) {
            background-color: white;
        }
    }

    span {
        transform: scaleY(1.4);
    }

}

.shown {
    visibility: visible;
}


@media only screen and (max-width: 768px) {
    .hero {
        &__stage-card {
            display: none;
        }

        &__text {
            width: 80%;
        }
    }

}

@media only screen and (min-width: 320px) and (max-width: 576px) {
    .hero {
        height: 110vh;

        &:before {
            content: '';
            height: 40%;
            width: 1px;
            background: #338ec9;
            position: absolute;
            left: 50%;
            top: 28%;
            opacity: 0.5;
        }

        &__stages {
            flex-wrap: wrap;
            top: 28%;
        }

        &__stage {
            padding: 10px 40px;
            width: 100%;
        }
    }
}