.offer {
    margin: 80px 0;
    text-align: center;
    height: calc(100vh - 2*80px);

    &__text {
        font-size: 14px;
        color: $text-color;
        padding: 35px 16%;
    }

    &__inner {
        display: flex;
        justify-content: space-around;
        padding: 30px 0;
    }

    &__col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 200px;

    }

    &__title {
        font-size: 16px;
        color: $title-color;
        text-transform: uppercase;
        padding: 20px 0;
        font-weight: bold;
    }

    &__content {
        font-size: 12px;
        color: $text-color;
        visibility: hidden;
        transition: all .2s;
    }

    &__item {
        cursor: url(../images/icons/mouse-pointer-solid.svg), pointer;

        &:hover .offer__content {
            visibility: visible;
        }
    }
}

.h2 {
    font-size: 36px;
    color: $title-color;
    font-weight: normal;
    text-transform: uppercase;
}

$logo-size:283px;

.logo-big {
    position: relative;
    width: $logo-size;
    height: $logo-size;
    border: 1px solid #d9dde9;
    border-radius: 50%;
    transition: all .2s;
    cursor: url(../images/icons/mouse-pointer-solid.svg), pointer;

    &__title {
        font-size: 50px;
        font-weight: bold;
        color: $logo-color;
        line-height: 1.16;
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all .3s;
    }

    &__circle {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: $text-color;
        position: absolute;
        top: 12%;
        left: 12%;
        transition: all .3s;
        transform-origin: center;
        animation: rotate 4s linear infinite;
    }

    &:hover {
        background-color: #e8f3fa;
    }

    &:hover .logo-big__title {
        color: $text-color;
    }

}

@keyframes rotate {
    0% {
        transform: translate(100px, 100px) rotate(0deg) translate(-100px, -100px) rotate(0deg);
    }

    13% {
        transform: translate(100px, 100px) rotate(45deg) translate(-100px, -100px) rotate(-45deg);
    }

    25% {
        transform: translate(100px, 100px) rotate(90deg) translate(-100px, -100px) rotate(-90deg);
        background-color: $title-color;
    }

    38% {
        transform: translate(100px, 100px) rotate(135deg) translate(-100px, -100px) rotate(0deg);
    }

    50% {
        transform: translate(100px, 100px) rotate(180deg) translate(-100px, -100px) rotate(-180deg);
    }

    63% {
        transform: translate(100px, 100px) rotate(225deg) translate(-100px, -100px) rotate(225deg);
        background-color: $logo-color;
    }

    75% {
        transform: translate(100px, 100px) rotate(270deg) translate(-100px, -100px) rotate(-270deg);
    }

    88% {
        transform: translate(100px, 100px) rotate(315deg) translate(-100px, -100px) rotate(315deg);
    }

    100% {
        transform: translate(100px, 100px) rotate(360deg) translate(-100px, -100px) rotate(-360deg);
    }
}


@media only screen and (max-width: 768px) {
    .offer {
        margin: 40px 0;
        text-align: center;
        height: calc(100vh - 80px);

        &__inner {
            padding: 0;
        }

        &__content {
            visibility: visible;
        }
    }

    $logo-size:120px;

    .logo-big {
        width: $logo-size;
        height: $logo-size;
        transform: translateY(50%);

        &__title {
            font-size: 24px;
        }

        &__circle {
            transform: translate(-20%, -20%);
            animation: none;
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
    .offer {
        height: 100%;

        &__text {
            padding: 20px 0 0 0;
        }

        &__inner {
            flex-wrap: wrap;
        }

        &__col {
            width: 90%;

            &--logo {
                order: -1;
            }
        }

    }

    .logo-big {
        transform: translateY(10%);
    }
}